{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Your Cart</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css'%}" rel="stylesheet">
		<link href="{% static 'themes/css/bootstrappage.css'%}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css'%}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css'%}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js'%}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
		<script src="{% static 'themes/js/superfish.js'%}"></script>
		<script src="{% static 'themes/js/jquery.scrolltotop.js'%}"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{% static 'themes/js/respond.min.js'%}"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span3">
					<form method="get" action="{% url 'searchapp:SearchResult'%}" class="search_form">
						{% csrf_token %}
						<input type="text" class="input-block-level search-query span3" Placeholder="eg. T-sirt" name="q">
						<button class="btn btn-outline-success my-2 my-sm-0 account pull-right" type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="span9">
					<div class="account pull-right">
						<ul class="user-menu">				
<!--							<li><a href="#">My Account</a></li>-->
							<li><a href="{% url 'cartapp:cart_detail'%}">Your Cart {% if item_count > 0 %}<i class="fas fa-shopping-cart">{{item_count}}</i>{% endif %}</a></li>
							{% if user.is_authenticated %}
							<li>{{user.first_name}} {{user.last_name}}</li>
							<li><a href="{% url 'registerapp:logout' %}">Logout</a></li>
							{% else %}
							<li><a href="{% url 'registerapp:register'%}">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="" class="logo pull-left"><img src="{% static 'themes/images/logo.png'%}" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="{% url 'ecommerceapp:AllProCat'%}">Home</a>
								<ul>
<!--									<li><a href="./products.html">Lacinia nibh</a></li>									-->
<!--									<li><a href="./products.html">Eget molestie</a></li>-->
<!--									<li><a href="./products.html">Varius purus</a></li>									-->
								</ul>
							</li>															
<!--							<li><a href="./products.html">Man</a></li>			-->
							<li><a href="">Categories</a>
								<ul>									
									<li><a href="{% url 'ecommerceapp:AllProCat'%}}">All Products</a></li>
									{% for link in links %}
									<li><a href="{{link.get_url}}">{{link.name}}</a></li>
<!--									<li><a href="./products.html">Cold Weather</a></li>-->
									{% endfor %}
								</ul>
							</li>							
<!--							<li><a href="./products.html">Hangbag</a></li>-->
<!--							<li><a href="./products.html">Best Seller</a></li>-->
<!--							<li><a href="./products.html">Top Seller</a></li>-->
						</ul>
					</nav>
				</div>
			</section>				
			<section class="header_text sub">
<!--			<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >-->
				<h4><span>Your Shopping Cart</span></h4>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
						{% if not cart_items %}
						<h1 class="text-center">Your Cart is <b>Empty</b></h1><br>
						<p class="text-center"><h4 class="text-center">Please click <a href="{% url 'ecommerceapp:AllProCat'%}">here</a> for shopping</h4></p>
						{% else %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Remove</th>
									<th>Image</th>
									<th>Product Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
							{% for cart_item in cart_items %}
								<tr>
									<td><a href="{% url 'cartapp:cart_delete' cart_item.product.id %}"><i class="fas fa-trash-alt"></i></a></td>
									<td><a href="{{cart_item.product.get_absolute_url}}"><img alt="" src="{{cart_item.product.img.url}}" style="width:450px;height:300px;"></a></td>
									<td>{{cart_item.product.name}}</td>
									<td>{{cart_item.quantity}} &nbsp;
										{% if cart_item.quantity < cart_item.product.stock %}
											&nbsp;<a href="{% url 'cartapp:add_cart' cart_item.product.id %}"><i class="fas fa-plus"></i></a>&nbsp;
                                			<a href="{% url 'cartapp:cart_remove' cart_item.product.id %}"><i class="fas fa-minus"></i></a>
										{% else %}
											<a href="{% url 'cartapp:cart_remove' cart_item.product.id %}"><i class="fas fa-minus"></i></a>
										{% endif %}
									</td>
									<td>Rs. {{cart_item.product.price}}</td>
									<td>Rs. {{cart_item.sub_total}}</td>
								</tr>			  
<!--								<tr>-->
<!--									<td><input type="checkbox" value="option1"></td>-->
<!--									<td><a href="product_detail.html"><img alt="" src="themes/images/ladies/1.jpg"></a></td>-->
<!--									<td>Luctus quam ultrices rutrum</td>-->
<!--									<td><input type="text" placeholder="2" class="input-mini"></td>-->
<!--									<td>$1,150.00</td>-->
<!--									<td>$2,450.00</td>-->
<!--								</tr>-->
<!--								<tr>-->
<!--									<td><input type="checkbox" value="option1"></td>-->
<!--									<td><a href="product_detail.html"><img alt="" src="themes/images/ladies/3.jpg"></a></td>-->
<!--									<td>Wuam ultrices rutrum</td>-->
<!--									<td><input type="text" placeholder="1" class="input-mini"></td>-->
<!--									<td>$1,210.00</td>-->
<!--									<td>$1,123.00</td>-->
<!--								</tr>-->
							{% endfor %}
								<tr>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><h4><strong>Sub Total : Rs. {{total}}</strong></h4></td>
								</tr>
							</tbody>
						</table>
<!--						<h4>What would you like to do next?</h4>-->
<!--						<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>-->
<!--						<label class="radio">-->
<!--							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">-->
<!--							Use Coupon Code-->
<!--						</label>-->
<!--						<label class="radio">-->
<!--							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
<!--							Estimate Shipping &amp; Taxes-->
<!--						</label>-->
<!--						<hr>-->
<!--						<p class="cart-total right">-->
<!--							<strong>Sub-Total</strong>:	$100.00<br>-->
<!--							<strong>Eco Tax (-2.00)</strong>: $2.00<br>-->
<!--							<strong>VAT (17.5%)</strong>: $17.50<br>-->
<!--							<strong>Total</strong>: $119.50<br>-->
<!--						</p>-->
<!--						<hr/>-->
						<p class="buttons center">
						<h4 class="text-center"><u><strong>Check Out</strong></u></h4><br>
						<p><span> </span></p>
						<p> </p>
						<p class="text-center"><h5 class="text-center">Please review your shopping cart before proceeding with payment...</h5></p>
<!--							<button class="btn" type="button">Update</button>-->
						<p><span> </span></p><br>
						<center><a class="btn btn-inverse" href="{% url 'ecommerceapp:AllProCat' %}">Continue Shopping</a></center>
<!--							<button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>-->
						</p>
						{% endif %}
<!--					<div class="span3 col">-->
<!--						<div class="block">	-->
<!--							<ul class="nav nav-list">-->
<!--								<li class="nav-header">SUB CATEGORIES</li>-->
<!--								<li><a href="products.html">Nullam semper elementum</a></li>-->
<!--								<li class="active"><a href="products.html">Phasellus ultricies</a></li>-->
<!--								<li><a href="products.html">Donec laoreet dui</a></li>-->
<!--								<li><a href="products.html">Nullam semper elementum</a></li>-->
<!--								<li><a href="products.html">Phasellus ultricies</a></li>-->
<!--								<li><a href="products.html">Donec laoreet dui</a></li>-->
<!--							</ul>-->
<!--							<br/>-->
<!--							<ul class="nav nav-list below">-->
<!--								<li class="nav-header">MANUFACTURES</li>-->
<!--								<li><a href="products.html">Adidas</a></li>-->
<!--								<li><a href="products.html">Nike</a></li>-->
<!--								<li><a href="products.html">Dunlop</a></li>-->
<!--								<li><a href="products.html">Yamaha</a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--						<div class="block">-->
<!--							<h4 class="title">-->
<!--								<span class="pull-left"><span class="text">Randomize</span></span>-->
<!--								<span class="pull-right">-->
<!--									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>-->
<!--								</span>-->
<!--							</h4>-->
<!--							<div id="myCarousel" class="carousel slide">-->
<!--								<div class="carousel-inner">-->
<!--									<div class="active item">-->
<!--										<ul class="thumbnails listing-products">-->
<!--											<li class="span3">-->
<!--												<div class="product-box">-->
<!--													<span class="sale_tag"></span>												-->
<!--													<a href="product_detail.html"><img alt="" src="themes/images/ladies/2.jpg"></a><br/>-->
<!--													<a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>-->
<!--													<a href="#" class="category">Suspendisse aliquet</a>-->
<!--													<p class="price">$261</p>-->
<!--												</div>-->
<!--											</li>-->
<!--										</ul>-->
<!--									</div>-->
<!--									<div class="item">-->
<!--										<ul class="thumbnails listing-products">-->
<!--											<li class="span3">-->
<!--												<div class="product-box">												-->
<!--													<a href="product_detail.html"><img alt="" src="themes/images/ladies/4.jpg"></a><br/>-->
<!--													<a href="product_detail.html" class="title">Tempor sem sodales</a><br/>-->
<!--													<a href="#" class="category">Urna nec lectus mollis</a>-->
<!--													<p class="price">$134</p>-->
<!--												</div>-->
<!--											</li>-->
<!--										</ul>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>						-->
<!--					</div>-->
				</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./cart.html">Your Cart</a></li>
							<li><a href="./register.html">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
<!--						<h4>My Account</h4>-->
<!--						<ul class="nav">-->
<!--							<li><a href="#">My Account</a></li>-->
<!--							<li><a href="#">Order History</a></li>-->
<!--							<li><a href="#">Wish List</a></li>-->
<!--							<li><a href="#">Newsletter</a></li>-->
<!--						</ul>-->
					</div>
					<div class="span5">
						<p class="logo"><img src="{% static 'themes/images/logo.png'%}" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="{% static 'themes/js/common.js'%}"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>		
    </body>
</html>